
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul {
  margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* General STYLE */
:root {
    --bg1: hsl(31, 77%, 52%);
    --bg2: hsl(184, 100%, 22%);
    --bg3: hsl(179, 100%, 13%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    /* --heading:  hsl(0, 0%, 95%); */
    --heading:  rgba(255, 255, 255, 0.9);
    --ffparagraph: 'Lexend Deca', sans-serif;
    --ffheading: 'Big Shoulders Display', sans-serif;
}
body {
    padding:0em;
    text-rendering: optimizeSpeed;
    text-align:left; 
    background: var(--heading);
    /* to stick the footer to the bottom */
    min-height: 100vh; 
    display:flex; flex-direction:column; 
}
h1, h2, h3, ul {
    padding:0;
}
h1 {
    font-size:2.2rem;
    line-height:2.1rem;
    color: var(--heading);
    font-family: var(--ffheading);
    font-weight:700;
    padding:1rem 0;
}
h2 {
  font-family: var(--ffheading);
  text-transform: uppercase;
  color: var(--heading);
  font-size:2.5rem;
  line-height:1.5rem;
  font-weight:700;
  margin:2.625rem 0;
}
p {
    font-size:0.938rem;
    line-height:1.5rem;
    /* color: var(--paragraph); */
    color:rgba(255, 255, 255, 0.6);
    font-family: var(--ffparagraph);
    font-weight:400;
    padding:0;
}
main {
    border-radius: 0.5rem;
    overflow:hidden;
    display:grid;
    gap: 0rem;
    max-width: 20.438rem;
    margin:auto;
}
main article {
  padding:3.125rem;
}
main article:nth-child(1) {
  background: var(--bg1);
}
main article:nth-child(2) {
  background: var(--bg2);
}
main article:nth-child(3) {
  background: var(--bg3);
}
main article:nth-child(1)::before {
  content: url(../images/icon-sedans.svg);
  display:inline-block;
  height: 2.5rem;
}
main article:nth-child(2)::before {
  content: url(../images/icon-suvs.svg);
  display:inline-block;
  height: 2.5rem;
}
main article:nth-child(3)::before {
  content: url(../images/icon-luxury.svg);
  display:inline-block;
  height: 2.5rem;
}
button {
  width:70%;
  font-family: var(--ffparagraph);
  font-size:0.875rem;
  line-height:1.5rem;
  font-weight:400;
  letter-spacing:0.01rem;
  padding:0.7rem ;
  margin-top:5rem;
  outline: none;
	cursor: pointer;
  border-radius: 2rem;
  border: 1px solid var(--heading);
}
main article:nth-child(1) button {
  color:var(--bg1);
}
main article:nth-child(2) button {
  color:var(--bg2);
}
main article:nth-child(3) button {
  color:var(--bg3);
}
button:hover {
  background:none;
  color:var(--heading) !important;
}

footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:50rem) {
  main {
    grid-template-columns: 1fr 1fr 1fr; 
    max-width:57.5rem;
  }
  body {
    padding:0 1rem;
  }
}